.toast {
   position: fixed;
   top: 1.25rem;
   right: 1.25rem;
   background-color: color-mix(in oklab, var(--gray) 70%, white);
   color: #fff;
   padding: 1.25rem 1.5rem;
   border-width: 1px;
   border-style: solid;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   z-index: 2000;
   display: flex;
   justify-content: space-between;
   min-width: 300px;

   .iconWrapper {
      height: 1.25rem;
      width: 1.25rem;
      flex: 0 1 auto;
      margin-right: 0.5rem;
   }

   .content {
      margin: 0;
      padding-right: 24px;
      flex: 3 1 auto;
      max-width: 400px;

      h3 {
         margin-bottom: 8px;
      }
   }

   .buttonWrapper {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;

      button {
         background: none;
         border: none;
         color: inherit;
         cursor: pointer;
         height: 0.75rem;
         width: 0.75rem;
      }
   }

   &.success {
      background-color: color-mix(in oklab, var(--green) 99%, black);
      border-color: color-mix(in oklab, var(--green) 70%, black);
      color: color-mix(in oklab, var(--green) 70%, black);
   }

   &.warning {
      background-color: var(--orange);
      border-color: color-mix(in oklab, var(--orange) 70%, black);
      color: color-mix(in oklab, var(--orange) 70%, black);
   }

   &.info {
      background-color: var(--blue);
      border-color: color-mix(in oklab, var(--blue) 70%, black);
      color: color-mix(in oklab, var(--blue) 70%, black);
   }

   &.error {
      background-color: var(--red);
      border-color: color-mix(in oklab, var(--red) 70%, black);
      color: color-mix(in oklab, var(--red) 70%, black);
   }
}
