.item {
   border: 1px solid color-mix(in oklab, var(--gray) 50%, white);
   border-radius: 1rem;
   display: grid;
   grid-template-columns: 1fr 4fr;
   align-items: center;
   padding: 1rem;

   &.clickable {
      cursor: pointer;
      transition: all ease-in-out 300ms;

      img {
         transition: all ease-in-out 300ms;
      }

      &:hover {
         border-color: var(--link-color);
         img {
            transform: scale(1.05);
         }
      }
   }

   .imageWrapper {
      position: relative;
      height: 5rem;
      width: 5rem;
      overflow: hidden;
      border-radius: 10rem;

      img {
         object-fit: cover;
         object-position: top;
      }
   }

   .details {
      padding: 1rem;

      .infoBar {
         display: flex;
         align-items: center;
         gap: 1rem;
         margin-bottom: 1rem;

         .iconWrapper {
            width: 1.5rem;
         }
      }
   }
}
